<cart-drawer-component
  class="cart-drawer"
  {% if settings.auto_open_cart_drawer %}auto-open{% endif %}
>
  <dialog
    ref="dialog"
    class="cart-drawer__dialog dialog-modal dialog-drawer color-{{ settings.drawer_color_scheme | default: 'scheme-1' }}{% if cart.empty? %} cart-drawer--empty{% endif %}"
    aria-labelledby="cart-drawer-heading"
    scroll-lock
    cart-summary-sticky="true"
  >
    <span ref="liveRegion" class="visually-hidden" role="status"></span>
    <div class="cart-drawer__inner" data-hydration-key="cart-drawer-inner">
      {% capture cart_items_children %}
        {%- if cart.empty? -%}
          <div class="cart-drawer__empty" id="cart-drawer-header">
            <h2 class="cart-drawer__heading h4 cart-drawer__heading--empty" id="cart-drawer-heading-empty">
              {{ 'content.your_cart_is_empty' | t | default: 'Seu carrinho está vazio' }}
            </h2>
            <div class="cart-drawer__items">
              {% render 'cart-products', force_empty: true %}
            </div>
          </div>
        {%- else -%}
          <div class="cart-drawer__header" id="cart-drawer-header">
            <h2 class="cart-drawer__heading h4" id="cart-drawer-heading">
              {{ 'content.cart_title' | t | default: 'Seu carrinho' }}
              {% render 'cart-bubble' %}
            </h2>
            <button
              ref="closeButton"
              on:click="cart-drawer-component/close"
              class="button close-button cart-drawer__close-button button-unstyled"
              aria-label="{{ 'actions.close_dialog' | t | default: 'Fechar' }}"
            >
              <span class="svg-wrapper">{{- 'icon-close.svg' | inline_asset_content -}}</span>
            </button>
          </div>
          <scroll-hint class="cart-drawer__content" style="--header-height: 60px;">
            <scroll-hint class="cart-drawer__items">
              {% render 'cart-products' %}
            </scroll-hint>
            <div class="cart-drawer__summary">
              {% render 'cart-summary', section_id: section.id %}
            </div>
          </scroll-hint>
        {%- endif -%}
      {% endcapture %}
      {% render 'cart-items-component', children: cart_items_children, is_drawer: true, section_id: section.id %}
    </div>
  </dialog>
</cart-drawer-component>

{% schema %}
{
  "name": "DC Cart Drawer",
  "tag": "div",
  "settings": []
}
{% endschema %}
